@font-face {
    src:url(orbitron/Orbitron-Black.ttf) format(truetype);
    font-family: "orbitron"; 
}

body {
    
    background-color: rgb(189, 213, 235);
    margin: 0;
    color: white;
    padding: 30px; 
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(9, 21, 81, 0.938);
    padding: 8px 30px 35px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px ;
}
h3 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn {
    color: white;
    border: solid rgb(204, 195, 195) 1px;
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(9, 21, 81, 0.938);
    font-family: 'orbitron';
    margin-top: 10px;
}
.marks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    color: red;
    font-family: orbitron;
    font-size: 3em;
    text-align: center; 
    border-radius: 8px;
}